<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/playlistsbyid.css">

    <title>{{ .Name }} :: Minimediaserver</title>
</head>

<body>
    <script src="/static/playlistsbyid.js"></script>

    <script>
        const availableTracks = [
            {{ range $index, $element := .Tracks }}
                {
                    name: "{{ $element.Name }}",
                    source: "/tracks/{{ $element.ID }}/data",
                    mimeType: "{{ $element.MIMEType }}",
                },
            {{ end }}
        ];

        document.addEventListener("DOMContentLoaded", (event) => {
            initAudioPlayer(availableTracks, 0);
        });
    </script>

    <h1>Listen to {{ .Name }}</h1>

    {{ with $firstItem := index .Tracks 0 }}
        <p>
            <audio id="player" controls preload="none">
                <source id="playersource" src="/tracks/{{ $firstItem.ID }}/data" type="{{ $firstItem.MIMEType }}" />
            </audio>
        </p>
        <p>
            Playing: <span id="name">{{ $firstItem.Name }}</span>
        </p>
    {{ end }}
    <p>
        <button id="previous">Prev</button>
        <button id="play">Play</button>
        <button id="next">Next</button>
    </p>

    <p>
        <table>
            {{ range $index, $element := .Tracks }}
                <tr>
                    <td id="track{{ $index }}"
                    {{ if eq $index 0 }}
                      class="active-track"
                    {{ else }}
                      class="clickable-track"
                    {{ end }}
                      >{{ .Name }}</td>
            {{ end }}
        </table>
    </p>

</body>
</html>