<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/static/favicon.png">

    <title>Minimediaserver</title>
</head>
<body>
    <h1>Welcome to Minimediaserver</h1>

    <p>Please enjoy one of the following tracks:</p>

    <p>
        <ul>
            {{ range . }}
                <li><a href="tracks/{{.ID}}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </p>
</body>
</html>