button {
    width: 100px;
    height: 33px;
}

audio {
    width: 100%;
    max-width: 600px;
}

.active-track {
    background-color: lightblue;
    cursor: pointer;
}

.clickable-track {
    cursor: pointer;
}